<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta property="og:url"                content="https://quiz.siejmy.pl/q/results/{{ alphanumeric id }}/" />
  <meta property="og:locale"             content="pl_PL" />
  <meta property="og:type"               content="article" />

    <title>{{> title}}</title>
    <meta property="og:title"              content="{{quiz.title}}" />
    <meta property="og:description"        content="{{quiz.description}}" />

  {{!-- <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> --}}
  {{!-- <meta property="fb:app_id"             content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> --}}

</head>
<body>

<h1>{{ quiz.title }}</h1>
<p>{{quiz.description}}</p>
<p>Json: {{ stringified }}</p>

</body>
</html>
